body{
    background-color: white;
    margin: 0px;
    padding: 10px 40px;
    width: 100%;
}

#listaEquipos li {
    list-style:circle;
}

#listaPalmares li {
    list-style: square;
}

span {
    font-weight: bold;
}